streamlit   # Latest version of Streamlit
numpy     # Latest version of NumPy
requests   # Latest version of Requests
joblib       # Latest version of Joblib
librosa     # Latest version of Librosa
matplotlib  # Latest version of Matplotlib
moviepy      # Latest version of MoviePy
xgboost     # Latest version of XGBoost
pandas     # Latest version of Pandas
scikit-learn # Latest version of Scikit-learn
